::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  user-select: none;
  padding: 0%;
  margin: 0%;
}

html, body {
  height: 1vh;
  font-family: 'Poppins', sans-serif;
  background-color: #222222;
}

.header-container {
  position: relative;
  margin: 5vh 5vw 10vh;
}

.header-container h1 {
  margin: 0vh 30vw;
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  border-bottom: 3px solid white;
  color: white;
}

.header-container h1 span{ 
  font-weight: normal;
}

.header-container .btn-add {
  position: absolute;
  top:30%;
  right: 0%;
  font-size: 1.7rem;
  display: inline-flex;
  background-color: transparent;
  border: none;
  color: white;
}

.btn-add :hover {
  transform: scale(1.25);
}

.gallery-container {
  margin: 0vh 5vw;
  columns: 4 250px;
  column-gap: 0.7vw;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  margin: 0 0 1vh;
}

.gallery-item img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s ease-out;
}

.gallery-item:hover img {
  transform: scale(1.25);
}

.gallery-item .text {
  opacity: 0;
  width: 100%;
  padding-left: 0.5rem;
  position: absolute;
  bottom: 0%;
  color: white;
  font-size: 0.7rem;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(5px) saturate(1.8);
  -webkit-backdrop-filter: blur(5px) saturate(1.8);
}

.gallery-item:hover .text {
  opacity: 1;
  animation: move-up 0.4s linear;
}

@keyframes move-up {
  0% {
    bottom: -10%;
  }
  100% {
    bottom: 0%;
  }
}

.form-control {
  font-size: 0.8rem;
}