blinker
bottle
click
coloredlogs
Flask
flatbuffers
humanfriendly
itsdangerous
Jinja2
MarkupSafe
mpmath
numpy
onnxruntime
opencv-python-headless
packaging
protobuf
proxy_tools
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
pywebview
QtPy
sympy
typing_extensions
Werkzeug
