.menu-options-container {
  opacity: 1;
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
}

.menu-options {
  position: relative;
  margin: 0%;
  padding: 0%;
}

.btn-options {
  opacity: 0;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  color: white;
  transition: 0.3s ease-in-out;
}

.gallery-item:hover .btn-options {
  opacity: 1;
}

.menu-options[data-active-options] .btn-options {
  opacity: 1;
  transform: rotate(90deg);
  background-color: rgba(0, 0, 0, 0.6);
}

.menu-options[data-active-options] .btn-options:hover {
  background-color: rgba(13, 110, 253, 0.8);
}

.btn-options:hover {
  background-color: rgba(255, 255, 255, 50%);
}

.gallery-item:hover .menu-options-container {
  opacity: 1;
}

.menu-options li {
  position: absolute;
  list-style: none;
  transform: rotate(calc((-70deg * var(--i)) - 190deg));
  transform-origin: -18px center;
  left: 6px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.menu-options[data-active-options] li{
  opacity: 1;
  visibility: visible;
}

.menu-options li i::before{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transform: rotate(calc((70deg * var(--i)) + 190deg));
}

.menu-options li .bi-pencil {
  display: flex;
  background-color: rgba(255, 193, 7, 0.8);
  color: black;
  border-radius: 50%;
}

.menu-options li .bi-pencil:hover {
  background-color: #FFC107;
}

.menu-options li .bi-trash3 {
  display: flex;
  background-color: rgba(220, 53, 69, 0.7);
  color: white;
  border-radius: 50%;
}

.menu-options li .bi-trash3:hover {
  background-color: #DC3545;
}