.md-typeset .admonition-title {
  margin-bottom: 10px;
  
}

.md-header__button.md-logo img {
  width: 34px;
  height: auto;
}

.md-header__button.md-logo {
  display: flex;
  align-items: center;

  padding-right: 0;     
  margin-right: 0;      
}
 
.md-header__title {
  margin-left: 8px !important;  
}

