name: PR Check

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  linting:
    name: Linting 
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install Frontend Dependencies
        working-directory: frontend
        run: npm ci

      - name: Install Backend Dependencies
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit ruff black

      - name: Run Frontend Linters
        working-directory: frontend
        run: |
          npm run lint:check
          npm run format:check

      - name: Run backend Linters
        working-directory: backend
        run: pre-commit run --config ../.pre-commit-config.yaml --all-files || exit 1

      - name: Run Rust
        working-directory: frontend/src-tauri
        run: cargo fmt -- --check

        
  # Frontend Test Job
  frontend:
    name: Frontend Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "22"
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install Dependencies & Run Tests
        working-directory: frontend
        run: |
          npm ci
          npm test

  # Backend Test Job
  backend:
    name: Backend Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"
          cache-dependency-path: backend/requirements.txt

      - name: Build check(Main backend)
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pyinstaller main.py --name PictoPy_Server --onedir --distpath dist

      - name: Build check(Sync Microservice)
        working-directory: sync-microservice
        run: |
          pip install -r requirements.txt
          pyinstaller main.py --name PictoPy_Sync_Microservice --onedir --distpath dist

      - name: Run Tests
        working-directory: backend
        run: |
          pytest

